* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faa5e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    cursor: pointer;
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}

.hidden {
    display: none;
}